@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: url(../fonts/IBMPlexMono-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url(../fonts/Manrope-Regular.ttf);
    font-weight: 400;
}
