/* @media(max-width:1920px){} */
/* @media(max-width:1680px){} */
/* @media(max-width:1600px){} */
/* @media(max-width:1536px){} */
@media(max-width:1440px) {
    .grab h5 {
        font-size: 43px;
    }
}

/* @media(max-width:1366px){} */
/* @media(max-width:1280px){} */
/* @media(max-width:1080px){} */
@media(max-width:1024px) {
    .header__bottom-title {
        font-size: 45px;
    }
}

@media(max-width:992px) {
    .header__bottom-btn {
        padding: 13px 21px;
        font-size: 14px;
    }
}

/* @media(max-width:991px){} */
@media(max-width:800px) {
    .header__bottom-title {
        font-size: 37px;
    }

    .unique__title {
        font-size: 43px;
        line-height: 97px;
    }

    .unique__text {
        line-height: 24px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: #000;
        z-index: 9999;
        padding: 50px;
        gap: 50px;
        transform: translateX(-100%);
        transition: .5s;
    }

    .munu {
        display: flex;
    }

    .menu__checker {
        display: flex;
    }
}

@media(max-width:768px) {
    .header__between-inner h5 {
        line-height: 18px;
    }

    .header__between-inner p {
        line-height: 24px;
    }

    .grab h5 {
        font-size: 38px;
    }

    .icon {
        margin-top: 39px;
    }

    .grab {
        margin-top: 49px;
        padding: 62px 0 60px 0;
    }

    .unique__title {
        font-size: 41px;
    }
}

/* @media(max-width:767px){} */
@media(max-width:736px) {
    .header__bottom-title {
        font-size: 32px;
    }

    .grab h5 {
        font-size: 36px;
    }
}

@media(max-width:734px) {
    .unique__content {
        flex-direction: column;
    }

    .unique__text {
        text-align: center;
    }

    .unique__title {
        font-size: 41px;
        text-align: center;
    }

    .unique .header__bottom-btn {
        padding: 13px 21px;
        font-size: 14px;
        margin: 59px auto;
    }

    .unique__right-img {
        max-width: 68%;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    .grab p {
        font-size: 16px;
    }

    .grab h5 {
        font-size: 32px;
    }
}

@media(max-width:684px) {
    .header__logo img{
        max-width: 130px;
    }
    .header__bottom-title {
        font-size: 27px;
        text-align: center;
    }

    .header__text {
        text-align: center;
    }

    .header .header__bottom-btn {
        display: block;
        margin: 56px auto;
    }

    .header__betweeen-content {
        max-width: 100%;
        gap: 17px;

    }

    .header__between-inner p {
        font-size: 13px;
    }

    .header__betweeen-content {
        max-width: 100%;
        gap: 17px;
    }

    .unique__text {
        line-height: 22px;
    }

    .unique__title {
        font-size: 37px;
        text-align: center;
    }

    .unique__right-img {
        max-width: 50%;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }
}

/* @media(max-width:667px){} */
/* @media(max-width:640px){} */
@media(max-width:600px) {
    .unique__title {
        font-size: 33px;
    }

    .unique .header__bottom-btn {
        padding: 9px 17px;
    }

    .fitnes__inner p {
        line-height: 17px;
    }
}

@media(max-width:575px) {
    .header__bottom-title {
        font-size: 25px;
    }

    .header__bottom-title {
        font-size: 25px;
        text-align: center;
    }

    .icon__right>h4 {
        font-family: var(--MR);
        font-size: 27px;
        line-height: 40px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .fitnes__content {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

}

@media(max-width:540px) {
    .header__betweeen-content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .fitnes__content {
        flex-wrap: wrap;
    }

    .grab__btn {
        padding: 11px 15px;
    }
    .header__logo img{
        max-width: 125px;
    }
}

@media(max-width:425px){
    .header__bottom-btn {
        padding: 9px 14px;
    }
    .header__bottom-title {
        font-size: 23px;
    }

}
@media(max-width:414px){
    .fitnes__content {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}
@media(max-width:412px){
    .icon__right>h4 {
        font-size: 25px;
    }
    .icon__right p {
        font-family: var(--MR);
        font-size: 16px;
        line-height: 21px;
        color: #EBEBEB;
        margin: 35px 0 30px 0;
    }
    .grab h5 {
        font-size: 28px;
    }
    
    
}
@media(max-width:384px){
    .header__logo img {
        max-width: 115px;
    }
    .header__bottom-title {
        font-size: 22px;
    }
}
/* @media(max-width:375px){} */
@media(max-width:360px){
    .header__bottom-title {
        font-size: 20px;
    }
    .unique__title {
        font-size: 29px;
    }
    .unique__text {
        line-height: 19px;
        font-size: 13px;
    }
    .icon__right p {
        font-size: 13px;
    }
    .grab p {
        font-family: var(--MR);
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        margin: 32px 42px 0;
    }
}
@media(max-width:320px){
    .grab h5 {
        font-size: 24px;
    }
    .grab p {
        font-family: var(--MR);
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        margin: 32px 42px 0;
    }
    .header__bottom-title {
        font-size: 18px;
    }
}